/**
* @name City-783 Discord
* @author @oldjobobo
* @version 0.1.0
* @description City-783 Discord Theme
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #181a1f;
    --color01: #20232a;
    --color02: #2b2f37;
    --color03: #4b515b;
    --color04: #6a707a;
    --color05: #b9bec6;
    --color06: #d3d7dd;
    --color07: #eceff2; /* Main text and channel icons */
    --color08: #b31414;
    --color09: #cc1f1f;
    --color10: #9e1a1a;
    --color11: #d12b2b;
    --color12: #8f949c;
    --color13: #ad2222;
    --color14: #c3c8d0;
    --color15: #e9edf0;
}
