/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #181a1f;
    --color01: #b31414;
    --color02: #d12b2b;
    --color03: #9e1a1a;
    --color04: #ad2222;
    --color05: #c3c8d0;
    --color06: #8f949c;
    --color07: #b9bec6;
    --color08: #4b515b;
    --color09: #b31414;
    --color10: #d12b2b;
    --color11: #9e1a1a;
    --color12: #ad2222;
    --color13: #c3c8d0;
    --color14: #8f949c;
    --color15: #eceff2;
}
