@define-color bg #181a1f;
@define-color fg #b9bec6;
@define-color gray1 #20232a;
@define-color gray2 #2b2f37;
@define-color gray3 #4b515b;
@define-color gray4 #6a707a;
@define-color gray5 #b9bec6;
@define-color fg_bright #eceff2;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}